<title>Book Hunt</title>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><div class="numberCircle"><p>BH</p></div></a>
  	<p class = "titleHeader">Book Hunt</p>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
    </li>
    <li><p style="color:#fff;margin-top:20px; margin-right:10px;"><%= link_to "Login with Twitter", new_post_path %></p></li>
      <li><p style="color:#fff;margin-top:20px; margin-right:10px;"><%= link_to "Submit Book", new_post_path %></p></li>
    </ul>
  </div>
</div>

<div class = "title">
	<h4> Today </h4>
</div>

<div class = "table">
	<table class="table table-striped table-hover ">
	  <tbody>
	    <tr>
	    <% @posts.each do |post| %>
	      <td><div class="numberSquare"><div class="arrow-up"></div><p><%= post.upvoteCount %></p></div></td>
	      <td><%= link_to post.title, post %></td>
	      <td><%= post.content %></td>
	      <td><%= post.poster %></td>
	      </tr>
	<% end %>
	  </tbody>
	</table>
</div>
