<title>Book Hunt</title>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/posts"><div class="numberCircle"><p>BH</p></div></a>
    <p class = "titleHeader">Book Hunt</p>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
    </li>
    <% if user_signed_in? %>
    <li><div class="btn btn-primary" style="color:#fff;margin-top:20px; margin-right:10px;"><%= link_to(current_user.email, destroy_user_session_path, :method => :delete)   %></div></li>
    <% else %>
      <li><div class="btn btn-primary" style="color:#fff;margin-top:20px; margin-right:10px;"><%= link_to "LOGIN",'/users/sign_in' %></div></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <header class="codrops-header">
    <h1>Add a New Book <span>Submit a Book you think is cool</span></h1>
  </header>

  <section>
    <%= form_for Post.new do |f| %>

    <!-- Title -->
    <p>
        <h4 style="color:#fff">Book Title</h4><br />
        <%= f.text_field :title %>
    </p>

    <!-- Content -->
    <p>
        <h4 style="color:#fff">Brief Description</h4><br />
        <%= f.text_field :content %>
    </p>

    <!-- Submit -->
    <p>
      <%= f.submit "Add a new Book" %>
    </p>

    <% end %>
  </section>
  <div>
</div>
